/* ------------------ Body + Fonts + Headers ------------------ */
html, body {
	height: 100%;
	font: 400 16px Lato, sans-serif;
	line-height: 1.6em;
	color: #FFFFFF;
}
h1 {
	color: #FFFFFF;
	font-size: 36px !important;
	font-family: Lato;
	font-style: italic;
	font-weight: 700;
	letter-spacing: 2px;
}
h2 {
	color: #990000;
	font-size: 36px !important;
	font-family: Lato;
	font-style: italic;
	font-weight: 700;
	letter-spacing: 2px;
}
h3 {
  	margin: 30px auto;
  	font-size: 26px !important;
  	color: #990000;
	font-family: Lato, sans-serif;
	font-style: italic;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 3px;
}
h4 {
  	margin: 0;
  	color: #FFFFFF;
  	border: 0;
  	margin-top: 20px;
  	margin-bottom: 10px;
  	font-size: 20px !important;
  	font-family: Montserrat, sans-serif;
}
h5 {
  	margin: 0;
  	color: #CFB53B;
  	border: 0;
  	font-size: 12px !important;
  	line-height: 1.6 !important;
  	text-transform: uppercase;
  	font-family: Montserrat, sans-serif;
}
h6 {
	color: #FFFFFF;
	font-size: 38px !important;
	font-family: Lato;
	font-style: italic;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-shadow: 2px 2px #000000;
}
.alumni-header {
	color: #990000;
	font-size: 20px !important;
	font-family: Lato, sans-serif;
	font-style: italic;
	font-weight: bold;
	/*text-transform: uppercase;*/
	letter-spacing: 3px;
}
h2.red{
	color: #990000;
}
h2.grey{
	color: #FFFFFF;
} 
.just {
	margin: 0 auto;
	text-align: justify; 
	font-size: 18px;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

/* ------------------ Navigation Bar ------------------ */
.navbar {
  	margin: 0;
  	background-color: #990000;
  	border: 0;
  	font-size: 12px !important;
  	line-height: 1.6 !important;
  	letter-spacing: 5px;
  	font-family: Montserrat, sans-serif;
}
.navbar-default {
}
.navbar li a, .navbar .navbar-brand {
  	color: #FFFFFF !important;
  	padding: 20px 15px !important;
}
.navbar-nav li.active a {
  	color: #FFFFFF !important;
  	background-color: #990000 !important;
}
.navbar-nav li a:hover {
  	color: #990000 !important;
  	background-color: #FFFFFF !important;
}
.navbar-default .navbar-toggle {
  	border-color: transparent;
  	color: #FFFFFF !important;
}

.navbar-nav li.active div {
  	color: #990000 !important;
  	background-color: #FFFFFF !important;
}

.wides {
	font-family: Lato, sans-serif;
  	font-style: italic;
	font-size: 38px !important;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-shadow: 2px 2px #000000;
}

.dropbtn {
    background-color: inherit;
    padding: 20px 15px;
    font-size: 12px;
    border: none;
  	font-family: Montserrat, sans-serif;
  	line-height: 1.6 !important;
  	letter-spacing: 5px;
  	cursor: pointer;
}

.dropbtn:hover {
    background-color: #FFFFFF;
    color: #CFB53B;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown a {
	background-color: inherit;
	color: inherit;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    color: #990000;
    min-width:120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
	background-color: #990000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
	background-color: #FFFFFF;
    color: #990000;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #FFFFFF;
    color: #990000;
}

/* ------------------ Carousel ------------------ */
.carousel-control.right, .carousel-control.left {
  	color: #990000;
}
.carousel-indicators li {
  	border-color: #990000;
}
.carousel-indicators li.active {
  	background-color: #990000;
}
.carousel-inner {
	margin-top: 0; 
    height:100%;
}
.carousel,
.item,
.active {
   	height:100%;
 }
.fill {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-position-y: 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
}
.carousel .three {
	background-color: #990000E0;
	margin: auto auto;
	padding : 10px 20px;
}
.carousel .text {
	font-size: 18px;
}
.carousel .textNews {
	font-size: 14px;
	line-height: 1.6em;
	text-align: justify;
}
.carousel .text a {
	color: #CFB53B;
}
.carousel .text a:hover {
	text-decoration: underline;
}
.grey {
	color: #FFFFFF;
}
.glyphicon-chevron-left:before {
	font-size: 40px;
}
.glyphicon-chevron-right:before {
	font-size: 40px;
}

/* ---------------------- News ---------------------- */

/*.carousel-caption.top {
    top: 0;
    bottom: auto;
}*/

.news-fill {
	height: 500px;
	margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
}

/* ------------------ For Students ------------------ */
.grid.students {
	display: grid;
	grid-gap: 30px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: 
	"courses textbooks"
	"drs pphds"
}
.courses {
	background-size: cover;
	background-position: center;
}
.textbooks {
	background-size: cover;
	background-position: center;
}
.pphds {
	background-size: cover;
	background-position: center;
}
.drs {
	background-size: cover;
	background-position: center;
}

/* ------------------ For Sponsors ------------------ */
.grid.sponsors {
	display: grid;
	grid-gap: 30px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: 
	"benefits foc"
}
.foc {
	background-size: cover;
	background-position: center;
}
.benefits {
	background-size: cover;
	background-position: center;
}


.current {
	cursor: pointer;
  	margin: 0;
	padding: 40px 0px;
  	border: 0;
  	font-size: 18px !important;
  	line-height: 1.6 !important;
  	letter-spacing: 5px;
  	text-align: center;
  	font-family: Montserrat, sans-serif;
  	font-style: italic;
}

	/*  Slider  */
	.slick-slide {
	    margin: 0px 20px;
	}
	.slick-slide img {
	    width: 100%;
	    vertical-align: middle;
	}
	.slick-slider
	{
	    position: relative;
	    display: block;
	    box-sizing: border-box;
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	            user-select: none;
	    -webkit-touch-callout: none;
	    -khtml-user-select: none;
	    -ms-touch-action: pan-y;
	        touch-action: pan-y;
	    -webkit-tap-highlight-color: transparent;
	}
	.slick-list
	{
	    position: relative;
	    display: block;
	    overflow: hidden;
	    margin: 0;
	    padding: 0;
	}
	.slick-track
	{
	    position: relative;
	    top: 0;
	    left: 0;
	    display: block;
	}
	.slick-loading .slick-track
	{
	    visibility: hidden;
	}
	.slick-slide
	{
	    display: none;
	    float: left;
	    text-align: center;
		color: #419be0;
		background: white;
	    height: 100%;
	}
	.slick-initialized .slick-slide
	{
	    display: block;
	}

/* ------------------ Research ------------------ */


/*.grid.research {
	display: grid;
	grid-gap: 30px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: 
	"propchannels commsystems" 
}
.propchannels {
	background-size: cover;
	background-position: center;
}
.commsystems {
	background-size: cover;
	background-position: center;
}*/

/* ------------------ People ------------------ */
.flip {
	max-width: 300px;
	margin: 0 auto;
 	-webkit-perspective: 800;   
    perspective: 800;
    position: relative;
    text-align: center;
    padding-bottom: 30px;
}
.flip .flipped {
    transform: rotatey(180deg);
  	-webkit-transform: rotatey(180deg);
  	-moz-transform: rotatey(180deg);
}
.flip .card {
	max-width: 300px;
    width: 100%;
    height: 400px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;

    transition: 0.8s;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
}
.flip .card .face {
    backface-visibility: hidden;
  	-webkit-backface-visibility: hidden;
  	-moz-backface-visibility: hidden;

   	z-index: 2;
}
.flip .card .front {
	transform: rotateX(0deg);
   	position: absolute;
	background-color: #990000;
	width: 100%;
	height: inherit;
   	z-index: 1;
}
.flip .card img {
	width: 100%;
    height: auto;
	margin: auto auto;
	z-index: 1;
}
.flip .card .back {
	color: #FFFFFF;

    background-color: #990000;
	transform: rotatey(180deg);
	-webkit-transform: rotatey(180deg);
	-moz-transform: rotatey(180deg);
}
.flip .card .back .inner {
	height: 400px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.flip .card .back i{
	color: #FFFFFF;
}
.flip .card .back i:hover{
	color: #CFB53B;
}
.flip .card .back link{
	color: #FFFFFF;
}
.flip .card .back link:hover{
	color: #CFB53B;
}
h2.padTop {
	margin-top: 50px; 
}

/* ------------------ Footer ------------------ */
.footer {
	padding-top: 50px;
	padding-left: 80px;	
	padding-right: 80px;
	padding-bottom: 20px;			
}
.TopFooter {
    text-align: center;
    width: 82%;
    margin: 10px auto;
    border-bottom: 2px solid #FFFFFF;
}
.BottomFooter {
    text-align: center;
    width: 82%;
    font-size: 16px;
    margin: 10px auto;
}
a.footerHyperlinks {
  	color: #FFFFFF;
}
a.footerHyperlinks:hover {
  	color: #CFB53B;
}
.fa-arrow-left {
	color: #FFFFFF;
	font-size: 40px;
}
.fa-arrow-up {
	color: #FFFFFF;
	font-size: 40px;
}
.fa-arrow-left:hover {
	color: #CFB53B;
}
.fa-arrow-up:hover {
	color: #CFB53B;
}

/* ------------------ Containers + Grids + Background Colors ------------------ */
.container-fluid {
	padding: 50px 100px;	
}
.container-people {
	padding: 20px 0px;	
	clear: left;
}
.grid div {
	color: #FFFFFF;
}
.grid div:hover {
	color: #CFB53B;
}
.element {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	padding: 120px 100px;
  	font-size: 22px !important;
  	line-height: 1.6 !important;
  	letter-spacing: 3px;
  	text-align: center;
	background-color: #999999;
	background-blend-mode: multiply;

	transition: transform 0.35s;
	-webkit-transition: -webkit-transform 0.35s;
	-moz-transition: -moz-transform 0.35s;

	transform: perspective(1000px) translate3d(0,0,0);
	-webkit-transform: perspective(1000px) translate3d(0,0,0);
	-moz-transform: perspective(1000px) translate3d(0,0,0);
}
.element:hover {
	background-color: #FFFFFF;
	background-blend-mode: multiply;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

	transform: perspective(1000px) translate3d(0,0,31px);
	-webkit-transform: perspective(1000px) translate3d(0,0,31px);
	-moz-transform: perspective(1000px) translate3d(0,0,31px);
}
.element p{
	width: 100%;
	margin: auto auto;
	background-color: rgba(255,255,255,0.8);
	color: #990000;
  	font-family: Montserrat, sans-serif;
  	font-style: italic;
}
.bg-grey {
	background-color: #FFFFFF;
	color: #990000;
}
.bg-grey {
	background-color: #FFFFFF;
	color: #990000;
}
.bg-red {
	background-color: #990000;
	color: #FFFFFF;
}

/* ------------------ Founder Page ------------------ */

.founderimg {
	float: right;
	max-width: 300px;
    width: 100%;
    height: 400px;
    background-color: #990000;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;

    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
}
.fixedimg {
    min-height: 30%;
    position: relative;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.grid.founder {
	padding: 20px 100px;
	text-align: center;
	display: grid;
	grid-gap: 30px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: 
	"one two three four"
}
.segment {
	padding: 30px 20px;
	margin: 10px 10px;
    border-style: solid;
	border-color: #CFB53B;
	border-width: 3px;	
	color: #990000;
	border-radius: 10px;
}
.segment:hover {
	cursor: pointer;
	background-color: #990000;
	color: #CFB53B;
}
.fa-margin-top {
    margin-top: 0.5em;
}
.fa-top {
    top: -1em;
}


/* ------------------ Research Page ------------------ */


.grid.propChannels {
	padding: 20px 100px;
	text-align: center;
	display: grid;
	grid-gap: 30px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas: 
	"one two" "three four" "five"
}
.segmentOne {
	padding: 30px 20px;
	margin: 10px 10px;
    border-style: solid;
	border-color: #CFB53B;
	border-width: 3px;
	background-color: rgba(255,255,255,0.8);	
	color: #990000;
	border-radius: 10px;
}
.segmentOne:hover {
	cursor: pointer;
	background-color: rgba(255,255,255,1);
	color: #990000;
}
.grid.commSysDesign {
	padding: 20px 100px;
	text-align: center;
	display: grid;
	grid-gap: 30px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: 
	"one two" "three four"
}
.boxxed {
	font-size: 32px;
	font-weight: bold;
}
.boxxed:hover {
	font-weight: bold;
}
.fixedimgtwo {
    min-height: 40%;
    position: relative;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
a.Hyperlinks {
  	color: #CFB53B;
}
a.Hyperlinks:hover {
  	color: #CFB53B;
  	font-weight: bold;
}

/* -- For Media-Width < 992px -- */
@media screen and (max-width: 992px) {
	.container-fluid {
		padding: 120px 100px;	
	}
	.container-fluid {
		padding: 120px 80px 80px 80px;	
	}
	.element {
		cursor: pointer;
	  	margin: 0;
		padding: 80px 40px;
	  	border: 0;
	  	font-size: 18px !important;
	  	line-height: 1.6 !important;
	  	letter-spacing: 5px;
	  	font-family: Lato, sans-serif;
	  	font-style: italic;
	}
}


/* -- For Media-Width < 768px -- */
@media screen and (max-width: 768px) {
	h6 {
		font-size: 28px !important;
	}
	.element {
		cursor: pointer;
	  	margin: 0;
		padding: 80px 100px;
	  	border: 0;
	  	font-size: 18px !important;
	  	line-height: 1.6 !important;
	  	letter-spacing: 5px;
	  	font-family: Lato, sans-serif;
	  	font-style: italic;
	}
	.grid.propChannels {
		padding: 20px 100px;
		text-align: center;
		display: grid;
		grid-gap: 30px;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
		grid-template-areas: 
		"one" "two" "three" "four" "five"
	}
	.grid.commSysDesign {
		padding: 20px 100px;
		text-align: center;
		display: grid;
		grid-gap: 30px;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
		grid-template-areas: 
		"one" "two" "three" "four"
	}
	.grid.founder {
		display: grid;
		grid-gap: 30px;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-template-areas: 
		"one two" "three four"
	}
	.grid.students {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
		grid-template-areas: 
		"courses" "textbooks" "drs" "pphds"
	}

	.grid.sponsors {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		grid-template-areas: 
		"foc"  "benefits"
	}

	.grid.research {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		grid-template-areas: 
		"propchannels" 	"commsystems" 
	}
	.boxxed {
		font-size: 24px;
	}
}

/* ------------------ For Media-Width <= 480px ------------------ */
@media screen and (max-width: 480px) {
	h6 {
		font-size: 24px !important;
	}
	ul {
	    padding: 20px;
	}
	.container-fluid {
		padding: 40px 20px 0px 20px;	
	}
	.element {
		cursor: pointer;
	  	margin: 0;
		padding: 60px 20px;
	  	border: 0;
	  	font-size: 18px !important;
	  	line-height: 1.6 !important;
	  	letter-spacing: 5px;
	  	font-family: Lato, sans-serif;
	  	font-style: italic;
	}
	.footer {
		padding-top: 20px 20px;		
	}
	.grid.propChannels {
		padding: 20px 40px;
		text-align: center;
		display: grid;
		grid-gap: 30px;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
		grid-template-areas: 
		"one" "two" "three" "four" "five"
	}
	.grid.commSysDesign {
		padding: 20px 40px;
		text-align: center;
		display: grid;
		grid-gap: 30px;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
		grid-template-areas: 
		"one" "two" "three" "four"
	}
	.grid.founder {
		display: grid;
		grid-gap: 30px;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
		grid-template-areas: 
		"one" "two"	"three"	"four"
	}
	.grid.students {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
		grid-template-areas: 
		"courses" 
		"textbooks"
		"drs" 
		"pphds"
	}
	.grid.sponsors {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		grid-template-areas: 
		"foc"
		"benefits"
	}
	.grid.research {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		grid-template-areas: 
		"propchannels" 
		"commsystems" 
	}
	.wides {
	    position: absolute;
	    left: 50%;
	    font-size: 17px;
	}
}
